In [1]:
import pandas as pd
import requests
import json
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression 
import requests
from bs4 import BeautifulSoup
from statsmodels.formula.api import ols

In [2]:
# use the api to get monthly mean sea level data from 1930 up to 2020 recorded in Anapolis
# as json, and store it in a pandas dataframe 
# Station: 8575512, Product: monthly_mean, Datum: MSL, Time Zone: lst
r = requests.get('https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?begin_date=19300101&end_date=20200101&station=8575512&product=monthly_mean&datum=MSL&time_zone=lst&units=english&format=json')
json_data = r.json()
data_df = pd.DataFrame(json_data["data"])
data_df.head()

,year,month,highest,MHHW,MHW,MSL,MTL,MLW,MLLW,DTL,GT,MN,DHQ,DLQ,HWI,LWI,lowest,inferred
0,1930,1,0.764,,-0.745,-1.135,-1.155,-1.565,,,,0.820,,,10.370,3.980,-2.835,0
1,1930,2,0.564,,-0.577,-0.978,-0.978,-1.388,,,,0.810,,,10.130,4.100,-3.136,0
2,1930,3,1.263,,-0.636,-1.037,-1.056,-1.476,,,,0.840,,,10.240,4.110,-3.136,0
3,1930,4,0.663,,-0.607,-0.978,-0.978,-1.345,,,,0.741,,,10.080,4.080,-2.835,0
4,1930,5,0.663,,-0.525,-0.935,-0.935,-1.345,,,,0.820,,,10.070,3.940,-2.238,0